body{
    color: grey;
}
body h1{
    font-size: 5em;
    font-family: 'Roboto', sans-serif;
    text-align: end;
}
.heading{
    margin-top: 0%;
    height:100vh;
    background-image:url(images/bgimg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    margin:none;
}
.heading-text{
    position:absolute;
    right:0%;
    top:40%;
    margin-right:5%    
}
